
/********** Colors **********/
$dark-color: #101010;
$green-color:  #73BF43;
$grey-color: rgba(32, 32, 32, 1);
$red-color: #E7333B;;
$white-color: #fff;


/********** Font **********/
$font-family: 'Poppins', sans-serif;

/********** Font Size **********/
$smaller-font-size: 14px;
$middle-font-size: 16px;
$big-font-size:24px;

/********** Font weight **********/
$font-regular: 400px;
$font-bold: 700;


/********** Line Height **********/
$smaller-line-height: 26px;
$middle-line-height: 28px;
$big-line-height:36px;
