.form {
    
    .input-group{

        input, textarea{
            background: $grey-color;
            border: none;
            outline: none !important;
        }

        .input-group-text{
            background: $grey-color;
            border: none;
            i{
                color: $white-color;
            }
        }
    }
}


.send-button{
    

    .form-button{
        width: 164px;
        height: 50px;
        background-color: #282828;
        color: $white-color;
        border: none;
    }
}
