.map{
    
    .container-fluid{

        .container{

            .location{
                position: relative;
                padding-top: 40px;

                .text-wrapper{
                    height: 491px;
                    width: 454px;
                    background-color: $grey-color;
                    position: absolute;
                    top: 120px;
                    left: 30px;

                    .title{
                        font-size: 24px;
                        font-weight: $font-bold;
                        color: $white-color;
                        position: absolute;
                        left: 25px;
                        top: 25px;
                    }

                    .phone{
                        position: absolute;
                        top: 130px;
                        left: 25px;
                        h5{
                            color: #A1A1A2;
                            font-weight: $font-bold;
                            font-size: 12px;
                        }
                        
                        p{
                            color: $white-color;
                            font-size: 16px;
                        }
                    }

                    .email{
                        position: absolute;
                        top: 200px;
                        left: 25px;
                        h5{
                            color: #A1A1A2;
                            font-weight: $font-bold;
                            font-size: 12px;
                        }
                        
                        p{
                            color: $white-color;
                            font-size: 16px;
                        }
                    }

                    .adress{
                        position: absolute;
                        top: 270px;
                        left: 25px;
                        h5{
                            color: #A1A1A2;
                            font-weight: $font-bold;
                            font-size: 12px;
                        }
                        
                        p{
                            color: $white-color;
                            font-size: 16px;
                            width: 300px;
                        }
                    }

                    .contact-button{
                        position: absolute;
                        top: 400px;
                    }
                }
            }
        }
    }
}