.products-items{
    padding-bottom: 100px;
    .container-fluid{
        padding-top: 35px;
        .container{

            .product-item-area{
                background: $grey-color;
                position: relative;
                height: 350px;
                padding: 15px;
                margin: 15px;
                &:hover{
                    cursor: pointer;
                }

                .product-image{
                    position: absolute;
                    top: 0;
                    img{
                        width: 100%;
                    }

                }
                .product-title{
                    position: absolute;
                    top: 265px;
                    p{
                        font-size: $big-font-size;
                        line-height: $big-line-height;
                        color: $red-color !important;
                    }
                }
    
                .product-text{
                    position: absolute;
                    top: 300px;
                    p{
                        font-size: $smaller-font-size;
                        line-height: $smaller-line-height;
                        color: $white-color;
                    }
                }
    
                .hover-button{
                    position: absolute;
                    left: 15px;
                    top: 15px;
                }
    
            }
        }
    }
}

.product-footer{
    border-top: 2px solid $red-color;
}