

section{
    background-color: $dark-color;
}

.button{
    width: 50px;
    height: 50px;
    background: hsla(0,0%,100%,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        color: $white-color;
    }

}

.title-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    p{
        font-size: $big-font-size;
        font-weight: $font-bold;
        color: $white-color;
    }
}

.footer{
    border-top: 2px solid red;
}
