@media (max-width: 992px) { 
    .location{
        position: relative !important;
    }
    .text-wrapper{
        position: relative !important;
        margin-top: -60px;
        left: 0px !important;
        width: 100% !important;
        height: 550px !important;
        
    }

    .contact-button{
        position: absolute !important;
        margin-top: -560px;
        left: -40px;
        .button{
            background-color: $grey-color !important;
        }
    }

    .form{
        position: relative;
        padding-top: 100px !important;
        z-index: 11;

        .send-button{
            width: 100%;
            .form-button{
                width: 100%;
            }
        }
    }
 }